<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta name="google-signin-client_id" content="516493629088-87o5eh3a66eps2rjvbov8apnfqie8uip.apps.googleusercontent.com"> -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  <link rel="stylesheet" href="style.css">
  <title>KABAN</title>
</head>
<body>
  <div id="app">
    <!-- LOGIN PAGE -->
    <section id="login-page" v-if="isLogout">
      <div class="center">
          <h1 style="margin-bottom: 3rem;" class="welcome"><i class="fas fa-dice-d6"></i> KABAN</h1>
          <div class="container-fluid d-flex flex-row">

            <!-- LOGIN FORM -->
            <div id="login-form-page" v-if="ishaveAccount">
              <div class="container d-flex justify-content-center">
                <form style="width: 20rem;" @submit.prevent="login()" >
                  <div class="mb-3">
                    <h2>Sign In</h2>
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input v-model="userLogin.email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input v-model="userLogin.password" type="password" class="form-control" id="password" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-primary" id="login-btn">Sign in</button>
                  <button @click.prevent="haveAccount(false)" type="button" class="btn btn-success" id="gotoregister-btn">Don't have Account</button>
                  <div>
                    <h6 class="mt-3">Or Sign In With:</h6>
                    <!-- GOOGLE LOGIN -->
                    <!-- <div class="g-signin2 mt-1" data-onsuccess="onSignIn"></div> -->
                  </div>
                </form>
              </div>
            </div>
            <!-- REGISTER FORM -->
            <div id="register-form-page" v-if="!ishaveAccount">
              <div class="container d-flex justify-content-center">
                <form style="width: 20rem" @submit.prevent="register()">
                  <div class="mb-3">
                    <h2>Sign Up</h2>
                  </div>
                  <div class="mb-3">
                    <label for="usernameregis" class="form-label">Username</label>
                    <input v-model="newUser.username" type="text" class="form-control" id="usernameregis" aria-describedby="usernameHelp" placeholder="Enter username">
                  </div>
                  <div class="mb-3">
                    <label for="emailregis" class="form-label">Email address</label>
                    <input v-model="newUser.email" type="email" class="form-control" id="emailregis" aria-describedby="emailHelp" placeholder="Enter email">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                  </div>
                  <div class="mb-3">
                    <label for="passwordregis" class="form-label">Password</label>
                    <input v-model="newUser.password" type="password" class="form-control" id="passwordregis" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-primary" id="register-btn">Sign up</button>
                  <button @click.prevent="haveAccount(true)" type="button" class="btn btn-success" id="gotologin-btn">I have an Account</button>
                  <div>
                    <h6 class="mt-3">Or Sign In With:</h6>
                    <!-- GOOGLE LOGIN -->
                    <!-- <div class="g-signin2 mt-1" data-onsuccess="onSignIn"></div> -->
                  </div>
                </form>
              </div>
            </div>

          </div>
      </div>
    </section>
    
    <section id="main-page" v-else-if="!isLogout">
      <!-- NAV -->
      <nav class="navbar navbar-light bg-light mb-3">
        <div class="container">
          <span class="navbar-brand mb-0 h1"><i class="fas fa-dice-d6"></i> KABAN</span>
          <button @click="logout()" class="btn btn-outline-success" type="button">Logout</button>
        </div>
      </nav>
      <!-- CONTENT -->
      <div class="container p-2">
        <div class="row">
            <!-- BACKLOG -->
            <div class="col-sm d-flex justify-content-start flex-column bg-warning mx-1 box p-2 align-items-center rounded">
              <h6 class="text-center">Backlog :</h6>
              <!-- BOX -->
              <div class="box1 rounded">
                <div class="card mb-2" style="width: 16rem;" v-for="item in tasksBacklog" :key="item.id">
                  <div class="card-body">
                    <p class="card-text" v-if="!editForm">{{ item.title }}</p>
                    <!-- EDIT FORM -->
                    <div class="mb-2" v-else-if="editForm">
                      <div class="form-floating" >
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                        style="height: 50px;"></textarea>
                        <label for="floatingTextarea">Title</label>
                      </div>
                      <div class="card-board-add-task mt-2">
                        <button class="btn btn-success btn-sm"><i class="fa fa-check"></i>&nbsp;Edit Task</button>
                        <button class="btn btn-secondary btn-sm" @click.prevent="closeEditForm()"><i class="fa fa-close"></i>&nbsp;Cancel</button>
                      </div>
                    </div>

                    <div class="row">
                      <div class="description col-7">
                        <p>By: {{ item.username }}</p>
                        <p>{{ item.date }}</p>
                      </div>
                      <div class="col-5">
                        <button type="button" class="btn fas fa-pencil-alt edit" @click.prevent="editTask(item.id)"></button>
                        <button type="button" class="btn far fa-trash-alt edit" @click.prevent="deleteTask(item.id)" style="color: rgb(184, 12, 12);"></button>
                        <button type="button" class="btn fas fa-arrows-alt edit" @click.prevent="patchTask(item.id)" ></button>
                      </div>
                    </div> 
                  </div>
                </div>
                <!-- ADD FORM -->
                <div class="card mb-2" style="width: 16rem;" v-if="addForm">
                  <div class="card-body">
                    <div>
                      <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                        style="height: 57px; resize: none;"></textarea>
                        <label for="floatingTextarea">Title</label>
                      </div>
                      <div class="card-board-add-task mt-2">
                        <button class="btn btn-sm"><i class="fa fa-plus"></i>&nbsp;Add Task</button>
                        <button class="btn btn-secondary btn-sm" @click.prevent="letsAdd(false)"><i class="fa fa-close"></i>&nbsp;Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ADD BUTTON -->
              <div class="card mb-2" style="width: 16rem;">
                <a href="#" class="btn btn-light" @click.prevent="letsAdd(true)"><i class="fas fa-plus"></i></a>
              </div>
            </div>

            <!-- TODO -->
            <div class="box col-sm d-flex justify-content-start flex-column bg-warning mx-1 p-2 align-items-center rounded">
              <h6 class="text-center">Todo :</h6>
              <!-- BOX -->
              <div class="box1 rounded">
                <div class="card mb-2" style="width: 16rem;" v-for="item in tasksTodo" :key="item.id">
                  <div class="card-body">
                    <p class="card-text">{{ item.title }}</p>
                    <a href="#" class="btn btn-primary" @click.prevent="editTask(item.id)">Edit</a>
                  </div>
                </div>
              </div>
              <!-- ADD BUTTON -->
              <div class="card mb-2" style="width: 16rem;">
                <a href="#" class="btn btn-light"><i class="fas fa-plus"></i></a>
              </div>
            </div>

            <!-- DOING -->
            <div class="col-sm d-flex justify-content-start flex-column bg-warning mx-1 box p-2 align-items-center rounded">
              <h6 class="text-center">Doing :</h6>
              <!-- BOX -->
              <div class="box1 rounded">
                <div class="card mb-2" style="width: 16rem;" v-for="item in tasksDoing" :key="item.id">
                  <div class="card-body">
                    <p class="card-text">{{ item.title }}</p>
                    <a href="#" class="btn btn-primary" @click.prevent="editTask(item.id)">Edit</a>
                  </div>
                </div>
              </div>
              <!-- ADD BUTTON -->
              <div class="card mb-2" style="width: 16rem;">
                <a href="#" class="btn btn-light"><i class="fas fa-plus"></i></a>
              </div>
            </div>

            <!-- DONE -->
            <div class="col-sm d-flex justify-content-start flex-column bg-warning mx-1 box p-2 align-items-center rounded">
              <h6 class="text-center">Done :</h6>
              <!-- BOX -->
              <div class="box1 rounded">
                <div class="card mb-2" style="width: 16rem;" v-for="item in tasksDone" :key="item.id">
                  <div class="card-body">
                    <p class="card-text">{{ item.title }}</p>
                    <a href="#" class="btn btn-primary" @click.prevent="editTask(item.id)">Edit</a>
                  </div>
                </div>
              </div>
              <!-- ADD BUTTON -->
              <div class="card mb-2" style="width: 16rem;">
                <a href="#" class="btn btn-light"><i class="fas fa-plus"></i></a>
              </div>
            </div>

        </div>
      </div>
    </section>
  </div>
  <!-- CDN -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->
  <script src='script.js'></script>
</body>
</html>